# An example file of the different exports and ENVs

# Your k8s cluster
CLUSTER_NAME=

# The bucket that you are going to use. (Don't forget to set it up Public)
COS_ACCOUNT_BUCKET=

# The local directory that you want to mount to you above s3 bucket
S3_LOCAL_DIR=

# The URL that your s3 bucket lives
S3_URL=

# The key file that you hopefully have created from the README.md
S3_KEY=